<<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="../static/css/stylemenu.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-32x32.png" />
    <title>Blu-guer Cardapio</title>
  </head>
<body>

<!-- MENU -->

{% with log=log %}
  {% include 'header.html' %} 
{% endwith %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <!-- FIM DO MENU     -->


<!-- PEDIDOS -->

<h1 class="txttres">Pedido</h1>

<br>


<table class="tabela">
  <tr style= "color:#ffffff" class="tabela_header">
  </tr>
  {% for output in output %}
  <tr>
      <td style= "color:#ffffff">{{ output.nome }}</td>

      <td><img src="{{ output.link_img }}"></td>

      <td style= "color:#ffffff">{{ output.descricao }}</td>
      <td style= "color:#ffffff">R${{ output.preco }}</td>
  </tr>
  {% endfor %}
</table>
<br>
<table class="tabela2">
  <tr style= "color:#ffffff" class="tabela_header">
  </tr>
  <tr>
    <td style= "color:#ffffff">TOTAL: R${{ total }}</td>
  </tr>

</table>



<section>
  <br><br>
  <a href="/clear">Limpar lista</a>
</section>


<br><br>
<div class="fixed-action-btn">
  <a href= "/home" target = "_blank" class="btn-floating btn-large red">
    <i class="large material-icons">Confirmar Pedido</i>
  </a>
<!-- <div class="finalizar">
<button onclick= "window.location.href ='checkout.html'">Finalizar Pedido</button> -->
</div>
<!-- FIM DOS PEDIDOS -->
<br><br>
<!-- FOOTER -->

<!-- <div class="final">
    <a href="fale.html" target=_blank>Fale Conosco</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="sobre.html">Sobre</a> 
    </div>  -->
  
  <footer class="footer">
    Copyright 2021
  </footer>
  <!-- FIM FOOTER -->
  </body>
  </html>
  <script src="../static/js/detalhes.js"></script>
</body>
</html>








